[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"
pep517 = "*"

[pipenv]
allow_prereleases = true
